{
	"swagger": "2.0",
	"info": {
		"description": "IELE.后台模块",
		"version": "1.0",
		"title": "IELE.后台系统"
	},
	"host": "api.iele.co",
	"basePath": "/",
	"tags": [{
		"name": "SmsFlashPromotionProductRelationController",
		"description": "商品限时购与商品关系表管理"
	}, {
		"name": "SmsCouponHistoryController",
		"description": "优惠券使用、领取历史表管理"
	}, {
		"name": "PmsSkuStockController",
		"description": "sku的库存管理"
	}, {
		"name": "CmsSubjectCommentController",
		"description": "专题评论表管理"
	}, {
		"name": "PmsFeightTemplateController",
		"description": "运费模版管理"
	}, {
		"name": "sms-configure-controller",
		"description": "Sms Configure Controller"
	}, {
		"name": "sms-share-controller",
		"description": "Sms Share Controller"
	}, {
		"name": "fenxiao-config-controller",
		"description": "Fenxiao Config Controller"
	}, {
		"name": "SmsHomeAdvertiseController",
		"description": "首页轮播广告表管理"
	}, {
		"name": "OssController",
		"description": "Oss管理"
	}, {
		"name": "SmsHomeRecommendSubjectController",
		"description": "首页推荐专题表管理"
	}, {
		"name": "UmsGrowthChangeHistoryController",
		"description": "成长值变化历史记录表管理"
	}, {
		"name": "PmsProductCategoryController",
		"description": "产品分类管理"
	}, {
		"name": "sms-content-msg-controller",
		"description": "Sms Content Msg Controller"
	}, {
		"name": "SysAreaController",
		"description": "管理"
	}, {
		"name": "sms-sign-config-controller",
		"description": "Sms Sign Config Controller"
	}, {
		"name": "角色管理",
		"description": "Sys Role Controller"
	}, {
		"name": "UmsMemberBlanceLogController",
		"description": "管理"
	}, {
		"name": "SmsHomeNewProductController",
		"description": "新鲜好物表管理"
	}, {
		"name": "PmsProductLadderController",
		"description": "产品阶梯价格表(只针对同商品)管理"
	}, {
		"name": "sms-bargain-record-controller",
		"description": "Sms Bargain Record Controller"
	}, {
		"name": "CmsMemberReportController",
		"description": "用户举报表管理"
	}, {
		"name": "generator-controller",
		"description": "Generator Controller"
	}, {
		"name": "UmsMemberController",
		"description": "会员表管理"
	}, {
		"name": "fenxiao-records-controller",
		"description": "Fenxiao Records Controller"
	}, {
		"name": "jifen-donate-rule-controller",
		"description": "Jifen Donate Rule Controller"
	}, {
		"name": "SmsRedPacketController",
		"description": "红包管理"
	}, {
		"name": "admin-sys-job-controller",
		"description": "Admin Sys Job Controller"
	}, {
		"name": "CmsHelpController",
		"description": "帮助表管理"
	}, {
		"name": "SysStoreController",
		"description": "管理"
	}, {
		"name": "PmsProductCategoryAttributeRelationController",
		"description": "产品的分类和属性的关系表，用于设置分类筛选条件（只支持一级分类）管理"
	}, {
		"name": "PmsBrandController",
		"description": "品牌表管理"
	}, {
		"name": "sms-draw-user-controller",
		"description": "Sms Draw User Controller"
	}, {
		"name": "jifen-coupon-controller",
		"description": "Jifen Coupon Controller"
	}, {
		"name": "CmsSubjectController",
		"description": "专题表管理"
	}, {
		"name": "SmsHomeRecommendProductController",
		"description": "人气推荐商品表管理"
	}, {
		"name": "SmsGroupController",
		"description": "管理"
	}, {
		"name": "sms-bargain-config-controller",
		"description": "Sms Bargain Config Controller"
	}, {
		"name": "SmsBasicMarkingController",
		"description": "管理"
	}, {
		"name": "UmsMemberProductCategoryRelationController",
		"description": "会员与产品分类关系表（用户喜欢的分类）管理"
	}, {
		"name": "SysDictController",
		"description": "系统配置信息表管理"
	}, {
		"name": "CmsTopicCommentController",
		"description": "专题评论表管理"
	}, {
		"name": "oms",
		"description": "购物车表管理"
	}, {
		"name": "CmsTopicCategoryController",
		"description": "话题分类表管理"
	}, {
		"name": "CmsPrefrenceAreaController",
		"description": "优选专区管理"
	}, {
		"name": "SysPermissionCategoryController",
		"description": "管理"
	}, {
		"name": "PmsMemberPriceController",
		"description": "商品会员价格表管理"
	}, {
		"name": "PmsProductAttributeValueController",
		"description": "存储产品参数信息的表管理"
	}, {
		"name": "CmsHelpCategoryController",
		"description": "帮助分类表管理"
	}, {
		"name": "UmsMemberLevelController",
		"description": "会员等级表管理"
	}, {
		"name": "CmsSubjectProductRelationController",
		"description": "专题商品关系表管理"
	}, {
		"name": "sms-draw-controller",
		"description": "Sms Draw Controller"
	}, {
		"name": "SmsFlashPromotionController",
		"description": "管理"
	}, {
		"name": "SmsFlashPromotionLogController",
		"description": "限时购通知记录管理"
	}, {
		"name": "UmsMemberRuleSettingController",
		"description": "会员积分成长规则表管理"
	}, {
		"name": "SmsUserRedPacketController",
		"description": "用户红包管理"
	}, {
		"name": "sms-group-activity-controller",
		"description": "Sms Group Activity Controller"
	}, {
		"name": "SmsHomeBrandController",
		"description": "首页推荐品牌表管理"
	}, {
		"name": "PmsSmallNaviconCategoryController",
		"description": "管理"
	}, {
		"name": "CmsPrefrenceAreaProductRelationController",
		"description": "优选专区和产品关系表管理"
	}, {
		"name": "PmsProductController",
		"description": "商品信息管理"
	}, {
		"name": "SysPermissionController",
		"description": "后台用户权限表管理"
	}, {
		"name": "PmsProductOperateLogController",
		"description": "管理"
	}, {
		"name": "UmsMemberMemberTagRelationController",
		"description": "用户和标签关系表管理"
	}, {
		"name": "UmsMemberTaskController",
		"description": "会员任务表管理"
	}, {
		"name": "PmsProductAttributeController",
		"description": "商品属性参数表管理"
	}, {
		"name": "SmsCouponProductRelationController",
		"description": "优惠券和产品的关系表管理"
	}, {
		"name": "sms-sign-record-controller",
		"description": "Sms Sign Record Controller"
	}, {
		"name": "HomeController",
		"description": "首页管理"
	}, {
		"name": "PmsAlbumPicController",
		"description": "画册图片表管理"
	}, {
		"name": "UmsIntegrationConsumeSettingController",
		"description": "积分消费设置管理"
	}, {
		"name": "UmsMemberReceiveAddressController",
		"description": "会员收货地址表管理"
	}, {
		"name": "fenxiao-user-relate-controller",
		"description": "Fenxiao User Relate Controller"
	}, {
		"name": "SmsCouponController",
		"description": "优惠卷表管理"
	}, {
		"name": "sms-detailed-commission-controller",
		"description": "Sms Detailed Commission Controller"
	}, {
		"name": "CmsTopicMemberController",
		"description": "管理"
	}, {
		"name": "UmsCollectController",
		"description": "管理"
	}, {
		"name": "PmsAlbumController",
		"description": "管理"
	}, {
		"name": "UmsIntegrationChangeHistoryController",
		"description": "积分变化历史记录表管理"
	}, {
		"name": "SmsFlashPromotionSessionController",
		"description": "限时购场次表管理"
	}, {
		"name": "PmsProductConsultController",
		"description": "产品咨询表管理"
	}, {
		"name": "PmsGiftsCategoryController",
		"description": "帮助分类表管理"
	}, {
		"name": "SmsGroupMemberController",
		"description": "管理"
	}, {
		"name": "SysSchoolController",
		"description": "管理"
	}, {
		"name": "sys-qiniu-config-controller",
		"description": "Sys Qiniu Config Controller"
	}, {
		"name": "SmsBasicGiftsController",
		"description": "管理"
	}, {
		"name": "PmsProductVertifyRecordController",
		"description": "商品审核记录管理"
	}, {
		"name": "SysMemberAreaController",
		"description": "管理"
	}, {
		"name": "UmsMemberStatisticsInfoController",
		"description": "会员统计信息管理"
	}, {
		"name": "UmsMemberTagController",
		"description": "用户标签表管理"
	}, {
		"name": "jifen-sign-rule-controller",
		"description": "Jifen Sign Rule Controller"
	}, {
		"name": "SysWebLogController",
		"description": "管理"
	}, {
		"name": "sys-email-config-controller",
		"description": "Sys Email Config Controller"
	}, {
		"name": "fenxiao-checks-controller",
		"description": "Fenxiao Checks Controller"
	}, {
		"name": "sms-diy-page-controller",
		"description": "Sms Diy Page Controller"
	}, {
		"name": "SmsCouponProductCategoryRelationController",
		"description": "优惠券和产品分类关系表管理"
	}, {
		"name": "工具：支付宝管理",
		"description": "Ali Pay Controller"
	}, {
		"name": "PmsProductAttributeCategoryController",
		"description": "产品属性分类表管理"
	}, {
		"name": "SysAppletSetController",
		"description": "管理"
	}, {
		"name": "PmsCommentReplayController",
		"description": "产品评价回复表管理"
	}, {
		"name": "admin-sys-job-log-controller",
		"description": "Admin Sys Job Log Controller"
	}, {
		"name": "sms-diypage-template-category-controller",
		"description": "Sms Diypage Template Category Controller"
	}, {
		"name": "PmsGiftsController",
		"description": "帮助表管理"
	}, {
		"name": "CmsSubjectCategoryController",
		"description": "专题分类表管理"
	}, {
		"name": "用户管理",
		"description": "Sys User Controller"
	}, {
		"name": "PmsCommentController",
		"description": "商品评价表管理"
	}, {
		"name": "PmsProductFullReductionController",
		"description": "产品满减表(只针对同商品)管理"
	}, {
		"name": "SysAdminLogController",
		"description": "管理"
	}, {
		"name": "sms-content-controller",
		"description": "Sms Content Controller"
	}, {
		"name": "CmsTopicController",
		"description": "话题表管理"
	}],
	"paths": {
		"/aliyun/oss/callback": {
			"post": {
				"tags": ["OssController"],
				"summary": "oss上传成功回调",
				"operationId": "callbackUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/aliyun/oss/policy": {
			"get": {
				"tags": ["OssController"],
				"summary": "oss上传签名生成",
				"operationId": "policyUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/aliyun/oss/upload": {
			"post": {
				"tags": ["OssController"],
				"summary": "上传",
				"operationId": "uploadImageUsingPOST",
				"consumes": ["multipart/form-data"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "groupId",
					"in": "query",
					"description": "groupId",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "id",
					"in": "query",
					"description": "id",
					"required": false,
					"type": "string"
				}, {
					"name": "uid",
					"in": "query",
					"description": "uid",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "fileType",
					"in": "query",
					"description": "fileType",
					"required": false,
					"type": "string"
				}, {
					"name": "type",
					"in": "query",
					"description": "type",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "multipartFile",
					"in": "formData",
					"description": "multipartFile",
					"required": true,
					"type": "file"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/aliyun/oss/upload1": {
			"post": {
				"tags": ["OssController"],
				"summary": "上传文件",
				"operationId": "uploadUsingPOST",
				"consumes": ["multipart/form-data"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "file",
					"in": "formData",
					"description": "file",
					"required": true,
					"type": "file"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/aliyun/oss/uploadFile": {
			"post": {
				"tags": ["OssController"],
				"summary": "上传文件",
				"operationId": "uploadFileUsingPOST",
				"consumes": ["multipart/form-data"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "groupId",
					"in": "query",
					"description": "groupId",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "id",
					"in": "query",
					"description": "id",
					"required": false,
					"type": "string"
				}, {
					"name": "uid",
					"in": "query",
					"description": "uid",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "fileType",
					"in": "query",
					"description": "fileType",
					"required": false,
					"type": "string"
				}, {
					"name": "type",
					"in": "query",
					"description": "type",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "multipartFile",
					"in": "formData",
					"description": "multipartFile",
					"required": true,
					"type": "file"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/aliyun/oss/uploads": {
			"post": {
				"tags": ["OssController"],
				"summary": "上传",
				"operationId": "uploadImagesUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "groupId",
					"in": "query",
					"description": "groupId",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "id",
					"in": "query",
					"description": "id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "type",
					"in": "query",
					"description": "type",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "multipartFile",
					"in": "formData",
					"description": "multipartFile",
					"required": true,
					"type": "array",
					"items": {
						"type": "file"
					},
					"collectionFormat": "multi"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/aliyun/oss/uploads1": {
			"post": {
				"tags": ["OssController"],
				"summary": "多文件上传文件",
				"operationId": "uploadsUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "file",
					"in": "formData",
					"description": "file",
					"required": true,
					"type": "array",
					"items": {
						"type": "file"
					},
					"collectionFormat": "multi"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/api/aliPay/toPayAsPC": {
			"post": {
				"tags": ["工具：支付宝管理"],
				"summary": "PC网页支付",
				"operationId": "toPayAsPCUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "trade",
					"description": "trade",
					"required": true,
					"schema": {
						"$ref": "#/definitions/TradeVo"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/api/aliPay/toPayAsWeb": {
			"post": {
				"tags": ["工具：支付宝管理"],
				"summary": "手机网页支付",
				"operationId": "toPayAsWebUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "trade",
					"description": "trade",
					"required": true,
					"schema": {
						"$ref": "#/definitions/TradeVo"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/api/aliPay/update": {
			"post": {
				"tags": ["工具：支付宝管理"],
				"summary": "配置支付宝",
				"operationId": "payConfigUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "alipayConfig",
					"description": "alipayConfig",
					"required": true,
					"schema": {
						"$ref": "#/definitions/SysAlipayConfig"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/api/aliPay/{id}": {
			"get": {
				"tags": ["工具：支付宝管理"],
				"summary": "get",
				"operationId": "getUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsHelp/create": {
			"post": {
				"tags": ["CmsHelpController"],
				"summary": "保存帮助表",
				"operationId": "saveCmsHelpUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsHelp"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsHelp/delete/batch": {
			"get": {
				"tags": ["CmsHelpController"],
				"summary": "批量删除帮助表",
				"operationId": "deleteBatchUsingGET_3",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "array",
					"items": {
						"type": "integer",
						"format": "int64"
					},
					"collectionFormat": "multi"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsHelp/delete/{id}": {
			"get": {
				"tags": ["CmsHelpController"],
				"summary": "删除帮助表",
				"operationId": "deleteCmsHelpUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "帮助表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsHelp/list": {
			"get": {
				"tags": ["CmsHelpController"],
				"summary": "根据条件查询所有帮助表列表",
				"operationId": "getCmsHelpByPageUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "categoryId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "icon",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "title",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "showStatus",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "createTime",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "readCount",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "content",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "pageNum",
					"in": "query",
					"description": "pageNum",
					"required": false,
					"type": "integer",
					"default": 1,
					"format": "int32"
				}, {
					"name": "pageSize",
					"in": "query",
					"description": "pageSize",
					"required": false,
					"type": "integer",
					"default": 10,
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsHelp/update/updateShowStatus": {
			"get": {
				"tags": ["CmsHelpController"],
				"summary": "修改展示状态",
				"operationId": "updateShowStatusUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "showStatus",
					"in": "query",
					"description": "showStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			},
			"head": {
				"tags": ["CmsHelpController"],
				"summary": "修改展示状态",
				"operationId": "updateShowStatusUsingHEAD",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "showStatus",
					"in": "query",
					"description": "showStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"204": {
						"description": "No Content"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					}
				}
			},
			"post": {
				"tags": ["CmsHelpController"],
				"summary": "修改展示状态",
				"operationId": "updateShowStatusUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "showStatus",
					"in": "query",
					"description": "showStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			},
			"put": {
				"tags": ["CmsHelpController"],
				"summary": "修改展示状态",
				"operationId": "updateShowStatusUsingPUT",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "showStatus",
					"in": "query",
					"description": "showStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			},
			"delete": {
				"tags": ["CmsHelpController"],
				"summary": "修改展示状态",
				"operationId": "updateShowStatusUsingDELETE",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "showStatus",
					"in": "query",
					"description": "showStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"204": {
						"description": "No Content"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					}
				}
			},
			"options": {
				"tags": ["CmsHelpController"],
				"summary": "修改展示状态",
				"operationId": "updateShowStatusUsingOPTIONS",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "showStatus",
					"in": "query",
					"description": "showStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"204": {
						"description": "No Content"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					}
				}
			},
			"patch": {
				"tags": ["CmsHelpController"],
				"summary": "修改展示状态",
				"operationId": "updateShowStatusUsingPATCH",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "showStatus",
					"in": "query",
					"description": "showStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"204": {
						"description": "No Content"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					}
				}
			}
		},
		"/cms/CmsHelp/update/{id}": {
			"post": {
				"tags": ["CmsHelpController"],
				"summary": "更新帮助表",
				"operationId": "updateCmsHelpUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsHelp"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsHelp/{id}": {
			"get": {
				"tags": ["CmsHelpController"],
				"summary": "查询帮助表明细",
				"operationId": "getCmsHelpByIdUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "帮助表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsHelpCategory/create": {
			"post": {
				"tags": ["CmsHelpCategoryController"],
				"summary": "保存帮助分类表",
				"operationId": "saveCmsHelpCategoryUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsHelpCategory"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsHelpCategory/delete/batch": {
			"get": {
				"tags": ["CmsHelpCategoryController"],
				"summary": "批量删除帮助分类表",
				"operationId": "deleteBatchUsingGET_2",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "array",
					"items": {
						"type": "integer",
						"format": "int64"
					},
					"collectionFormat": "multi"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsHelpCategory/delete/{id}": {
			"get": {
				"tags": ["CmsHelpCategoryController"],
				"summary": "删除帮助分类表",
				"operationId": "deleteCmsHelpCategoryUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "帮助分类表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsHelpCategory/list": {
			"get": {
				"tags": ["CmsHelpCategoryController"],
				"summary": "根据条件查询所有帮助分类表列表",
				"operationId": "getCmsHelpCategoryByPageUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "name",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "icon",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "helpCount",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "showStatus",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "sort",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "pageNum",
					"in": "query",
					"description": "pageNum",
					"required": false,
					"type": "integer",
					"default": 1,
					"format": "int32"
				}, {
					"name": "pageSize",
					"in": "query",
					"description": "pageSize",
					"required": false,
					"type": "integer",
					"default": 10,
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsHelpCategory/update/{id}": {
			"post": {
				"tags": ["CmsHelpCategoryController"],
				"summary": "更新帮助分类表",
				"operationId": "updateCmsHelpCategoryUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsHelpCategory"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsHelpCategory/{id}": {
			"get": {
				"tags": ["CmsHelpCategoryController"],
				"summary": "查询帮助分类表明细",
				"operationId": "getCmsHelpCategoryByIdUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "帮助分类表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsMemberReport/create": {
			"post": {
				"tags": ["CmsMemberReportController"],
				"summary": "保存用户举报表",
				"operationId": "saveCmsMemberReportUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsMemberReport"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsMemberReport/delete/batch": {
			"get": {
				"tags": ["CmsMemberReportController"],
				"summary": "批量删除用户举报表",
				"operationId": "deleteBatchUsingGET_4",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "array",
					"items": {
						"type": "integer",
						"format": "int64"
					},
					"collectionFormat": "multi"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsMemberReport/delete/{id}": {
			"get": {
				"tags": ["CmsMemberReportController"],
				"summary": "删除用户举报表",
				"operationId": "deleteCmsMemberReportUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "用户举报表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsMemberReport/list": {
			"get": {
				"tags": ["CmsMemberReportController"],
				"summary": "根据条件查询所有用户举报表列表",
				"operationId": "getCmsMemberReportByPageUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "reportType",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "reportMemberName",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "createTime",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "reportObject",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "reportStatus",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "handleStatus",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "note",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "pageNum",
					"in": "query",
					"description": "pageNum",
					"required": false,
					"type": "integer",
					"default": 1,
					"format": "int32"
				}, {
					"name": "pageSize",
					"in": "query",
					"description": "pageSize",
					"required": false,
					"type": "integer",
					"default": 10,
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsMemberReport/update/{id}": {
			"post": {
				"tags": ["CmsMemberReportController"],
				"summary": "更新用户举报表",
				"operationId": "updateCmsMemberReportUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsMemberReport"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsMemberReport/{id}": {
			"get": {
				"tags": ["CmsMemberReportController"],
				"summary": "查询用户举报表明细",
				"operationId": "getCmsMemberReportByIdUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "用户举报表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsPrefrenceArea/create": {
			"post": {
				"tags": ["CmsPrefrenceAreaController"],
				"summary": "保存优选专区",
				"operationId": "saveCmsPrefrenceAreaUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsPrefrenceArea"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsPrefrenceArea/delete/batch": {
			"get": {
				"tags": ["CmsPrefrenceAreaController"],
				"summary": "批量删除优选专区",
				"operationId": "deleteBatchUsingGET_5",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "array",
					"items": {
						"type": "integer",
						"format": "int64"
					},
					"collectionFormat": "multi"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsPrefrenceArea/delete/{id}": {
			"get": {
				"tags": ["CmsPrefrenceAreaController"],
				"summary": "删除优选专区",
				"operationId": "deleteCmsPrefrenceAreaUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "优选专区id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsPrefrenceArea/list": {
			"get": {
				"tags": ["CmsPrefrenceAreaController"],
				"summary": "根据条件查询所有优选专区列表",
				"operationId": "getCmsPrefrenceAreaByPageUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "pic",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "byte"
				}, {
					"name": "id",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "name",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "subTitle",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "sort",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "showStatus",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "pageNum",
					"in": "query",
					"description": "pageNum",
					"required": false,
					"type": "integer",
					"default": 1,
					"format": "int32"
				}, {
					"name": "pageSize",
					"in": "query",
					"description": "pageSize",
					"required": false,
					"type": "integer",
					"default": 10,
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsPrefrenceArea/update/{id}": {
			"post": {
				"tags": ["CmsPrefrenceAreaController"],
				"summary": "更新优选专区",
				"operationId": "updateCmsPrefrenceAreaUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsPrefrenceArea"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsPrefrenceArea/{id}": {
			"get": {
				"tags": ["CmsPrefrenceAreaController"],
				"summary": "查询优选专区明细",
				"operationId": "getCmsPrefrenceAreaByIdUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "优选专区id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsPrefrenceAreaProductRelation/create": {
			"post": {
				"tags": ["CmsPrefrenceAreaProductRelationController"],
				"summary": "保存优选专区和产品关系表",
				"operationId": "saveCmsPrefrenceAreaProductRelationUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsPrefrenceAreaProductRelation"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsPrefrenceAreaProductRelation/delete/batch": {
			"get": {
				"tags": ["CmsPrefrenceAreaProductRelationController"],
				"summary": "批量删除优选专区和产品关系表",
				"operationId": "deleteBatchUsingGET_6",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "array",
					"items": {
						"type": "integer",
						"format": "int64"
					},
					"collectionFormat": "multi"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsPrefrenceAreaProductRelation/delete/{id}": {
			"get": {
				"tags": ["CmsPrefrenceAreaProductRelationController"],
				"summary": "删除优选专区和产品关系表",
				"operationId": "deleteCmsPrefrenceAreaProductRelationUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "优选专区和产品关系表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsPrefrenceAreaProductRelation/list": {
			"get": {
				"tags": ["CmsPrefrenceAreaProductRelationController"],
				"summary": "根据条件查询所有优选专区和产品关系表列表",
				"operationId": "getCmsPrefrenceAreaProductRelationByPageUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "prefrenceAreaId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "productId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "pageNum",
					"in": "query",
					"description": "pageNum",
					"required": false,
					"type": "integer",
					"default": 1,
					"format": "int32"
				}, {
					"name": "pageSize",
					"in": "query",
					"description": "pageSize",
					"required": false,
					"type": "integer",
					"default": 10,
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsPrefrenceAreaProductRelation/update/{id}": {
			"post": {
				"tags": ["CmsPrefrenceAreaProductRelationController"],
				"summary": "更新优选专区和产品关系表",
				"operationId": "updateCmsPrefrenceAreaProductRelationUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsPrefrenceAreaProductRelation"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsPrefrenceAreaProductRelation/{id}": {
			"get": {
				"tags": ["CmsPrefrenceAreaProductRelationController"],
				"summary": "查询优选专区和产品关系表明细",
				"operationId": "getCmsPrefrenceAreaProductRelationByIdUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "优选专区和产品关系表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubject/create": {
			"post": {
				"tags": ["CmsSubjectController"],
				"summary": "保存专题表",
				"operationId": "saveCmsSubjectUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsSubject"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubject/delete/batch": {
			"get": {
				"tags": ["CmsSubjectController"],
				"summary": "批量删除专题表",
				"operationId": "deleteBatchUsingGET_9",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "array",
					"items": {
						"type": "integer",
						"format": "int64"
					},
					"collectionFormat": "multi"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubject/delete/{id}": {
			"get": {
				"tags": ["CmsSubjectController"],
				"summary": "删除专题表",
				"operationId": "deleteCmsSubjectUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "专题表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubject/list": {
			"get": {
				"tags": ["CmsSubjectController"],
				"summary": "根据条件查询所有专题表列表",
				"operationId": "getCmsSubjectByPageUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "products[0].timeSecound.days",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "products[0].timeSecound.hours",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "products[0].timeSecound.mins",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "products[0].timeSecound.sc",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "products[0].id",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "products[0].memberId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "products[0].brandId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "products[0].productCategoryId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "products[0].feightTemplateId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "products[0].productAttributeCategoryId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "products[0].name",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].pic",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].type",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].isPaiMai",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].expireTime",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "products[0].productSn",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].deleteStatus",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].publishStatus",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].newStatus",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].recommandStatus",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].verifyStatus",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].isFenxiao",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].sort",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].sale",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].price",
					"in": "query",
					"required": false,
					"type": "number"
				}, {
					"name": "products[0].promotionPrice",
					"in": "query",
					"required": false,
					"type": "number"
				}, {
					"name": "products[0].giftGrowth",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].giftPoint",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].usePointLimit",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].subTitle",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].description",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].originalPrice",
					"in": "query",
					"required": false,
					"type": "number"
				}, {
					"name": "products[0].stock",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].lowStock",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].unit",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].weight",
					"in": "query",
					"required": false,
					"type": "number"
				}, {
					"name": "products[0].previewStatus",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].serviceIds",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].keywords",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].note",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].albumPics",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].detailTitle",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].detailDesc",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].detailHtml",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].detailMobileHtml",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].promotionStartTime",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "products[0].promotionEndTime",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "products[0].promotionPerLimit",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].promotionType",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].brandName",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].transfee",
					"in": "query",
					"required": false,
					"type": "number"
				}, {
					"name": "products[0].productCategoryName",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].supplyId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "products[0].areaId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "products[0].createTime",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "products[0].schoolId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "products[0].hit",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].keyword",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].areaName",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].schoolName",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].storeName",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "products[0].qsType",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "products[0].fenxiaoPrice",
					"in": "query",
					"required": false,
					"type": "number"
				}, {
					"name": "pics",
					"in": "query",
					"required": false,
					"type": "array",
					"items": {
						"type": "object"
					},
					"collectionFormat": "multi"
				}, {
					"name": "id",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "categoryId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "title",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "pic",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "productCount",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "recommendStatus",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "createTime",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "collectCount",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "readCount",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "commentCount",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "albumPics",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "description",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "showStatus",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "content",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "forwardCount",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "categoryName",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "areaId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "schoolId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "memberId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "areaName",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "schoolName",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "reward",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "qsType",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "memberName",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "videoSrc",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "type",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "createTimeVar",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "pageNum",
					"in": "query",
					"description": "pageNum",
					"required": false,
					"type": "integer",
					"default": 1,
					"format": "int32"
				}, {
					"name": "pageSize",
					"in": "query",
					"description": "pageSize",
					"required": false,
					"type": "integer",
					"default": 10,
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubject/update/updateRecommendStatus": {
			"get": {
				"tags": ["CmsSubjectController"],
				"summary": "修改推荐状态",
				"operationId": "updateRecommendStatusUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "recommendStatus",
					"in": "query",
					"description": "recommendStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			},
			"head": {
				"tags": ["CmsSubjectController"],
				"summary": "修改推荐状态",
				"operationId": "updateRecommendStatusUsingHEAD",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "recommendStatus",
					"in": "query",
					"description": "recommendStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"204": {
						"description": "No Content"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					}
				}
			},
			"post": {
				"tags": ["CmsSubjectController"],
				"summary": "修改推荐状态",
				"operationId": "updateRecommendStatusUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "recommendStatus",
					"in": "query",
					"description": "recommendStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			},
			"put": {
				"tags": ["CmsSubjectController"],
				"summary": "修改推荐状态",
				"operationId": "updateRecommendStatusUsingPUT",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "recommendStatus",
					"in": "query",
					"description": "recommendStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			},
			"delete": {
				"tags": ["CmsSubjectController"],
				"summary": "修改推荐状态",
				"operationId": "updateRecommendStatusUsingDELETE",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "recommendStatus",
					"in": "query",
					"description": "recommendStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"204": {
						"description": "No Content"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					}
				}
			},
			"options": {
				"tags": ["CmsSubjectController"],
				"summary": "修改推荐状态",
				"operationId": "updateRecommendStatusUsingOPTIONS",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "recommendStatus",
					"in": "query",
					"description": "recommendStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"204": {
						"description": "No Content"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					}
				}
			},
			"patch": {
				"tags": ["CmsSubjectController"],
				"summary": "修改推荐状态",
				"operationId": "updateRecommendStatusUsingPATCH",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "recommendStatus",
					"in": "query",
					"description": "recommendStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"204": {
						"description": "No Content"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					}
				}
			}
		},
		"/cms/CmsSubject/update/updateShowStatus": {
			"get": {
				"tags": ["CmsSubjectController"],
				"summary": "修改展示状态",
				"operationId": "updateShowStatusUsingGET_1",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "showStatus",
					"in": "query",
					"description": "showStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			},
			"head": {
				"tags": ["CmsSubjectController"],
				"summary": "修改展示状态",
				"operationId": "updateShowStatusUsingHEAD_1",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "showStatus",
					"in": "query",
					"description": "showStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"204": {
						"description": "No Content"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					}
				}
			},
			"post": {
				"tags": ["CmsSubjectController"],
				"summary": "修改展示状态",
				"operationId": "updateShowStatusUsingPOST_1",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "showStatus",
					"in": "query",
					"description": "showStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			},
			"put": {
				"tags": ["CmsSubjectController"],
				"summary": "修改展示状态",
				"operationId": "updateShowStatusUsingPUT_1",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "showStatus",
					"in": "query",
					"description": "showStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			},
			"delete": {
				"tags": ["CmsSubjectController"],
				"summary": "修改展示状态",
				"operationId": "updateShowStatusUsingDELETE_1",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "showStatus",
					"in": "query",
					"description": "showStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"204": {
						"description": "No Content"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					}
				}
			},
			"options": {
				"tags": ["CmsSubjectController"],
				"summary": "修改展示状态",
				"operationId": "updateShowStatusUsingOPTIONS_1",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "showStatus",
					"in": "query",
					"description": "showStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"204": {
						"description": "No Content"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					}
				}
			},
			"patch": {
				"tags": ["CmsSubjectController"],
				"summary": "修改展示状态",
				"operationId": "updateShowStatusUsingPATCH_1",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "showStatus",
					"in": "query",
					"description": "showStatus",
					"required": true,
					"type": "integer",
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"204": {
						"description": "No Content"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					}
				}
			}
		},
		"/cms/CmsSubject/update/{id}": {
			"post": {
				"tags": ["CmsSubjectController"],
				"summary": "更新专题表",
				"operationId": "updateCmsSubjectUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsSubject"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubject/{id}": {
			"get": {
				"tags": ["CmsSubjectController"],
				"summary": "查询专题表明细",
				"operationId": "getCmsSubjectByIdUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "专题表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectCategory/create": {
			"post": {
				"tags": ["CmsSubjectCategoryController"],
				"summary": "保存专题分类表",
				"operationId": "saveCmsSubjectCategoryUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsSubjectCategory"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectCategory/delete/batch": {
			"get": {
				"tags": ["CmsSubjectCategoryController"],
				"summary": "批量删除专题分类表",
				"operationId": "deleteBatchUsingGET_7",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "array",
					"items": {
						"type": "integer",
						"format": "int64"
					},
					"collectionFormat": "multi"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectCategory/delete/{id}": {
			"get": {
				"tags": ["CmsSubjectCategoryController"],
				"summary": "删除专题分类表",
				"operationId": "deleteCmsSubjectCategoryUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "专题分类表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectCategory/list": {
			"get": {
				"tags": ["CmsSubjectCategoryController"],
				"summary": "根据条件查询所有专题分类表列表",
				"operationId": "getCmsSubjectCategoryByPageUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "name",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "icon",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "subjectCount",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "showStatus",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "sort",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "pageNum",
					"in": "query",
					"description": "pageNum",
					"required": false,
					"type": "integer",
					"default": 1,
					"format": "int32"
				}, {
					"name": "pageSize",
					"in": "query",
					"description": "pageSize",
					"required": false,
					"type": "integer",
					"default": 10,
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectCategory/update/{id}": {
			"post": {
				"tags": ["CmsSubjectCategoryController"],
				"summary": "更新专题分类表",
				"operationId": "updateCmsSubjectCategoryUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsSubjectCategory"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectCategory/{id}": {
			"get": {
				"tags": ["CmsSubjectCategoryController"],
				"summary": "查询专题分类表明细",
				"operationId": "getCmsSubjectCategoryByIdUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "专题分类表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectComment/create": {
			"post": {
				"tags": ["CmsSubjectCommentController"],
				"summary": "保存专题评论表",
				"operationId": "saveCmsSubjectCommentUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsSubjectComment"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectComment/delete/batch": {
			"get": {
				"tags": ["CmsSubjectCommentController"],
				"summary": "批量删除专题评论表",
				"operationId": "deleteBatchUsingGET_8",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "array",
					"items": {
						"type": "integer",
						"format": "int64"
					},
					"collectionFormat": "multi"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectComment/delete/{id}": {
			"get": {
				"tags": ["CmsSubjectCommentController"],
				"summary": "删除专题评论表",
				"operationId": "deleteCmsSubjectCommentUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "专题评论表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectComment/list": {
			"get": {
				"tags": ["CmsSubjectCommentController"],
				"summary": "根据条件查询所有专题评论表列表",
				"operationId": "getCmsSubjectCommentByPageUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "subjectId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "memberNickName",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "memberIcon",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "content",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "createTime",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "showStatus",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "pageNum",
					"in": "query",
					"description": "pageNum",
					"required": false,
					"type": "integer",
					"default": 1,
					"format": "int32"
				}, {
					"name": "pageSize",
					"in": "query",
					"description": "pageSize",
					"required": false,
					"type": "integer",
					"default": 10,
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectComment/update/{id}": {
			"post": {
				"tags": ["CmsSubjectCommentController"],
				"summary": "更新专题评论表",
				"operationId": "updateCmsSubjectCommentUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsSubjectComment"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectComment/{id}": {
			"get": {
				"tags": ["CmsSubjectCommentController"],
				"summary": "查询专题评论表明细",
				"operationId": "getCmsSubjectCommentByIdUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "专题评论表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectProductRelation/create": {
			"post": {
				"tags": ["CmsSubjectProductRelationController"],
				"summary": "保存专题商品关系表",
				"operationId": "saveCmsSubjectProductRelationUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsSubjectProductRelation"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectProductRelation/delete/batch": {
			"get": {
				"tags": ["CmsSubjectProductRelationController"],
				"summary": "批量删除专题商品关系表",
				"operationId": "deleteBatchUsingGET_10",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "array",
					"items": {
						"type": "integer",
						"format": "int64"
					},
					"collectionFormat": "multi"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectProductRelation/delete/{id}": {
			"get": {
				"tags": ["CmsSubjectProductRelationController"],
				"summary": "删除专题商品关系表",
				"operationId": "deleteCmsSubjectProductRelationUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "专题商品关系表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectProductRelation/list": {
			"get": {
				"tags": ["CmsSubjectProductRelationController"],
				"summary": "根据条件查询所有专题商品关系表列表",
				"operationId": "getCmsSubjectProductRelationByPageUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "subjectId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "productId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "pageNum",
					"in": "query",
					"description": "pageNum",
					"required": false,
					"type": "integer",
					"default": 1,
					"format": "int32"
				}, {
					"name": "pageSize",
					"in": "query",
					"description": "pageSize",
					"required": false,
					"type": "integer",
					"default": 10,
					"format": "int32"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectProductRelation/update/{id}": {
			"post": {
				"tags": ["CmsSubjectProductRelationController"],
				"summary": "更新专题商品关系表",
				"operationId": "updateCmsSubjectProductRelationUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsSubjectProductRelation"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsSubjectProductRelation/{id}": {
			"get": {
				"tags": ["CmsSubjectProductRelationController"],
				"summary": "查询专题商品关系表明细",
				"operationId": "getCmsSubjectProductRelationByIdUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "专题商品关系表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsTopic/create": {
			"post": {
				"tags": ["CmsTopicController"],
				"summary": "保存话题表",
				"operationId": "saveCmsTopicUsingPOST",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"in": "body",
					"name": "entity",
					"description": "entity",
					"required": true,
					"schema": {
						"$ref": "#/definitions/CmsTopic"
					}
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsTopic/delete/batch": {
			"get": {
				"tags": ["CmsTopicController"],
				"summary": "批量删除话题表",
				"operationId": "deleteBatchUsingGET_13",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "ids",
					"in": "query",
					"description": "ids",
					"required": true,
					"type": "array",
					"items": {
						"type": "integer",
						"format": "int64"
					},
					"collectionFormat": "multi"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsTopic/delete/{id}": {
			"get": {
				"tags": ["CmsTopicController"],
				"summary": "删除话题表",
				"operationId": "deleteCmsTopicUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "话题表id",
					"required": false,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsTopic/fetchCmsTopicMember/{id}": {
			"get": {
				"tags": ["CmsTopicController"],
				"summary": "根据活动id获取活动参与人员信息",
				"operationId": "fetchCmsTopicMemberUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "path",
					"description": "id",
					"required": true,
					"type": "integer",
					"format": "int64"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/cms/CmsTopic/list": {
			"get": {
				"tags": ["CmsTopicController"],
				"summary": "根据条件查询所有话题表列表",
				"operationId": "getCmsTopicByPageUsingGET",
				"consumes": ["application/json"],
				"produces": ["*/*"],
				"parameters": [{
					"name": "id",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "categoryId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "name",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "pic",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "createTime",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "startTime",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "endTime",
					"in": "query",
					"required": false,
					"type": "string",
					"format": "date-time"
				}, {
					"name": "attendCount",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "attentionCount",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "readCount",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int32"
				}, {
					"name": "awardName",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "attendType",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "content",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "address",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "atids",
					"in": "query",
					"required": false,
					"type": "string"
				}, {
					"name": "areaId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
					"name": "schoolId",
					"in": "query",
					"required": false,
					"type": "integer",
					"format": "int64"
				}, {
[...]
